<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="px-4 pt-3">
    <h1>Agregar Nuevo Paciente</h1>
    <div class="dropdown-divider  border-secundary"></div>
    <div class="container-fluid">
        <!--container-->
        <div id='formulario' [ngClass]="{lleno: mensaje}">
            <div class="row my-4">
                <!--row-->
                <div class="col-lg-3 col-12 my-2">
                    <!--col nombre-->
                    <label for="nombres">Nombres(*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="nombres" name='nombres' class="form-control" type="text" formControlName="nombres" placeholder="Nombres">
                        <div id='mensaje'>
                            <small id="nombreoHelp" class="form-text text-muted" *ngIf="(nombres.dirty || nombres.touched) && nombres.invalid && nombres.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <!--col nombre-->
                <div class="col-lg-3 col-12 my-2">
                    <!--col apellido-->
                    <label for="apellidos">Apellidos(*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="apellidos" name='apellidos' class="form-control" type="text" formControlName="apellidos" placeholder="Apellidos">
                        <div id='mensaje'>
                            <small id="ApellidoHelp" class="form-text text-muted" *ngIf="(apellidos.dirty || apellidos.touched) && apellidos.invalid && apellidos.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <!--col apellido-->
                <div class="col-lg-3 col-12 my-2">
                    <!--col rut-->
                    <label for="rut">Rut(*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="rut" name='rut' class="form-control" type="text" formControlName="rut" placeholder="Rut">
                        <div id='mensaje'>
                            <small id="rutHelp" class="form-text text-muted" *ngIf="(rut.dirty || rut.touched) && rut.invalid && rut.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <!--col rut-->
            </div>
            <!--row-->
            <label for="fecha">Fecha de Nacimiento(*)</label>


            <div class="row my-4">
                <!--row-->
                <div class="col-lg-2 col-12 ">
                    <!--col fecha Nac-->
                    <label for="dia">Día(*)</label>
                    <select id="dia" name='dia' class="form-control" type="text" formControlName="dia" placeholder="Dia">
                        <option></option>
                        <option>1</option>                        
                        <option>2</option>                        
                        <option>3</option>                        
                        <option>4</option>                        
                        <option>5</option>                        
                        <option>6</option>                        
                        <option>7</option>                        
                        <option>8</option>                        
                        <option>9</option>                        
                        <option>10</option>                        
                        <option>11</option>                        
                        <option>12</option>                        
                        <option>13</option>                        
                        <option>14</option>                        
                        <option>15</option>                        
                        <option>16</option>                        
                        <option>17</option>                        
                        <option>18</option>                        
                        <option>19</option>                        
                        <option>20</option>                        
                        <option>21</option>                        
                        <option>22</option>                        
                        <option>23</option>                        
                        <option>24</option>                        
                        <option>25</option>                        
                        <option>26</option>                        
                        <option>27</option>                        
                        <option>28</option>                        
                        <option>29</option>                        
                        <option>30</option>                        
                        <option>31</option>                        
                    </select>
                    <div id='mensaje'>
                        <small id="diaHelp" class="form-text text-muted" *ngIf="(dia.dirty || dia.touched) && dia.invalid && dia.errors.required"> Requerido  </small>
                    </div>
                </div>
                <div class="col-lg-2 col-12 ">
                    <!--col fecha Nac-->
                    <label for="mes">Mes(*)</label>
                    <select id="mes" name='mes' class="form-control" type="text" formControlName="mes" placeholder="Mes">
                    <option></option>
                        <option>Enero</option>                        
                        <option>Febrero</option>                        
                        <option>Marzo</option>                        
                        <option>Abril</option>                        
                        <option>Mayo</option>                        
                        <option>Junio</option>                        
                        <option>Julio</option>                        
                        <option>Agosto</option>                        
                        <option>Septiembre</option>                        
                        <option>Octubre</option>                        
                        <option>Noviembre</option>                        
                        <option>Diciembre</option>     
                    </select>
                    <div id='mensaje'>
                        <small id="mesHelp" class="form-text text-muted" *ngIf="(mes.dirty || mes.touched) && mes.invalid && mes.errors.required"> Requerido  </small>
                    </div>
                </div>
                <div class="col-lg-2 col-12 ">
                    <!--col fecha Nac-->
                    <label for="anio">Año(*)</label>
                    <select id="anio" name='anio' class="form-control" type="text" formControlName="anio" placeholder="Anio">
                        <option></option>
                            <option>2020</option>                        
                            <option>2019</option>                        
                            <option>2018</option>                        
                            <option>2017</option>                        
                            <option>2016</option>                        
                            <option>2015</option>                        
                            <option>2014</option>                        
                            <option>2013</option>                        
                            <option>2012</option>                        
                            <option>2011</option>                        
                            <option>2010</option>                        
                        </select>
                    <div id='mensaje'>
                        <small id="anioHelp" class="form-text text-muted" *ngIf="(anio.dirty || anio.touched) && anio.invalid && anio.errors.required"> Requerido  </small>
                    </div>

                </div>
                <!--col fecha Nac-->
                <div class="col-lg-2 col-12 ">
                    <!--col sexo-->
                    <label for="sexo">Sexo(*)</label>
                    <select id="sexo" name='sexo' class="form-control" type="text" formControlName="sexo" placeholder="sexo">
                        <option></option>
                        <option>Hombre</option>
                        <option>Mujer</option>
                        <option>Sin Especificar</option>                        
                    </select>
                    <div id='mensaje'>
                        <small id="sexoHelp" class="form-text text-muted" *ngIf="(sexo.dirty || sexo.touched) && sexo.invalid && sexo.errors.required"> Requerido  </small>
                    </div>
                </div>
                <!--col sexo-->
            </div>
            <!--row-->
            <div class="row my-4">
                <!--row-->
                <div class="col-lg-2 col-12 my-2">
                    <!--col edad-->
                    <label for="edad">Edad(*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="edad" name='edad' class="form-control" type="text" formControlName="edad" placeholder="Edad">
                        <div id='mensaje'>
                            <small id="edadHelp" class="form-text text-muted" *ngIf="(edad.dirty || edad.touched) && edad.invalid && edad.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <!--col edad-->
                <div class="col-lg-2 col-12 my-2">
                    <!--col nacionalidad-->
                    <label for="nacionalidad">Nacionalidad(*)</label>

                    <select id="nacionalidad" name='nacionalidad' class="form-control" type="text" formControlName="nacionalidad" placeholder="Nacionalidad">
                        <option></option>
                        <option>Chilena</option>
                        <option>Extranjera</option>
                        <option>Sin Especificar</option>                        
                    </select>
                    <div id='mensaje'>
                        <small id="nacionalidadHelp" class="form-text text-muted" *ngIf="(nacionalidad.dirty || nacionalidad.touched) && nacionalidad.invalid && nacionalidad.errors.required"> Requerido  </small>
                    </div>

                </div>
                <!--col nacionalidad-->
                <div class="col-lg-2 col-12 my-2">
                    <!--col Ciudad-->
                    <label for="ciudad">Provincia(*)</label>
                    <select id="ciudad" name='cuidad' class="form-control" type="text" formControlName="cuidad" placeholder="cuidad">
                        <option></option>
                        <option>Valparaiso</option> 
                        <option>Santiago</option>  
                        <option>Angol</option>
                        <option>Antofagasta</option>
                        <option>Arica</option>
                        <option>Bulnes</option>
                        <option>Calama</option>
                        <option>Castro</option>  
                        <option>Cauquenes</option>  
                        <option>Chaitén</option>  
                        <option>Chañaral</option>  
                        <option>Chile Chico</option>  
                        <option>Cochrane</option>  
                        <option>Colina</option>  
                        <option>Concepción</option>  
                        <option>Copiapó</option>  
                        <option>Coquimbo</option>  
                        <option>La serena</option>  
                        <option>Coyhaique</option>  
                        <option>Curicó</option>  
                        <option>Hangan Roa</option>  
                        <option>Illapel</option>  
                        <option>Iquique</option>  
                        <option>La Ligua</option>  
                        <option>La Unión</option>
                        <option>Lebu</option>  
                        <option>Linares</option>  
                        <option>Los Andes</option>  
                        <option>Los Ángeles</option>  
                        <option>Melipilla</option>  
                        <option>Osorno</option>  
                        <option>Ovalle</option>  
                        <option>Pichilemu</option>  
                        <option>Porvenir</option>  
                        <option>Pozo Almonte</option>  
                        <option>Puente alto</option>  
                        <option>Puerto Aysen</option>  
                        <option>Puerto Montt</option>  
                        <option>Puerto Natales</option>
                        <option>Puerto Williams</option>  
                        <option>Punta Arenas</option>  
                        <option>Putre</option>  
                        <option>Quillota</option>  
                        <option>Quilpue</option>  
                        <option>Quirihue</option>  
                        <option>Rancagua</option>  
                        <option>San Antonio</option>  
                        <option>San Bernardo</option>  
                        <option>San Carlos</option>  
                        <option>San Felipe</option>  
                        <option>San Fernando</option>  
                        <option>Talagante</option>
                        <option>Talca</option>  
                        <option>Tocopilla</option>  
                        <option>Vallenar</option>  
                                                        
                    </select>
                    <div id='mensaje'>
                        <small id="cuidadHelp" class="form-text text-muted" *ngIf="(ciudad.dirty || ciudad.touched) && ciudad.invalid && ciudad.errors.required"> Requerido  </small>
                    </div>
                </div>
                <!--col Ciudad-->
            </div>
            <!--row-->
            <div class="row my-4">
                <!--row-->
                <div class="col-lg-5 col-12 my-2">
                    <!--col direccion-->
                    <label for="direccion">Direccion(*)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="direccion" name='direccion' class="form-control" type="text" formControlName="direccion" placeholder="Direccion">
                        <div id='mensaje'>
                            <small id="direccionHelp" class="form-text text-muted" *ngIf="(direccion.dirty || direccion.touched) && direccion.invalid && direccion.errors.required"> Requerido  </small>
                        </div>
                    </div>
                </div>
                <!--col Ciudad-->
            </div>
            <!--row-->
            <!--boton agregar-->
            <div [ngSwitch]="getUrl()">
                <div *ngSwitchCase="'/user/paciente'">
                    <button class="btn btn-primary my-3" (click)="navegarPaciente2()" type="submit" [disabled]="!checkoutForm.valid">Siguiente</button>
                </div>
                <div *ngSwitchCase="'/adm/paciente'">
                    <button class="btn btn-primary my-3" (click)="navegarPaciente2Admin()" type="submit" [disabled]="!checkoutForm.valid">Siguiente</button>
                </div>
                <label for=""> (*) Campo Obligatorio</label>
            </div>
            <!--boton agregar-->
            <div id='mensaje' [style.visibility]="isDivVisible ? 'visible' : 'hidden'" class="alert alert-success" role="alert">{{mensaje}}</div>
        </div>
    </div>
    <!--container-->
</form>