<div class="card mb-2">
    <div class="card-body mb-1">
        <div class="row ">
            <div class="col-lg-6 col-12 text-left">
                <p class="font-weight-bold"> Codigo de cama: {{paciente.cama}}</p>
                <p class="text mb-1"> <span class="font-weight-bold">Nombres: </span> {{paciente.nombres}} {{paciente.apellidos}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Fecha de Nacimiento:</span> {{paciente.diaNacimiento}}/ {{paciente.mesNacimiento}}/ {{paciente.anioNacimiento}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Sexo:</span> {{paciente.sexo}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Medico Encargado:</span> {{paciente.nombresDoctor}} {{paciente.apellidosDoctor}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Motivo:</span> {{paciente.motivo}}</p>
                <p class="text mb-5"><span class="font-weight-bold">Chequeado Por:</span> {{paciente.chequeadoPor}}</p>
            </div>
            <div class="col-lg-6 col-12 text-left">
                <p class="font-weight-bold">Habitación {{paciente.habitacion}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Rut:</span> {{paciente.rut}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Edad:</span> {{paciente.edad}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Sexo:</span> {{paciente.sexo}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Rut Medico:</span> {{paciente.rutDoctor}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Tipo de Atención:</span> {{paciente.tipoAtencionMedica}} {{paciente.apellidosDoctor}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body mb-1">
        <div class="row ">
            <div class="col-lg-6 col-12 text-left">
                <p class="font-weight-bold"> Checkeo Medico</p>
                <p class="text mb-1"><span class="font-weight-bold">Enfermera Encargada: </span> {{paciente.enfermeraEncargada}} {{paciente.enfermeraApellidos}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Ultimo Checkeo: </span> {{paciente.ultimoChequeo}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Presión Arterial:</span> {{paciente.presionArterial}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Ritmo Cardiaco:</span> {{paciente.ritmoCardiaco}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Nivel Insulina:</span> {{paciente.nivelInsulina}}</p>
            </div>
            <div class="col-lg-10 col-12 text-center ml-4">
                <button type="button" class="btn btn-success m-2">Realizar chequeo</button>
                <button type="button" class="btn btn-success m-2">Retirar paciente</button>
            </div>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body mb-1">
        <div class="row ">
            <div class="col-lg-6 col-12 text-left">
                <p class="font-weight-bold"> Información de Contacto</p>
                <p class="text mb-1"><span class="font-weight-bold">Direccion: </span> {{paciente.direccion}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Provincia: </span> {{paciente.provincia}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Telefono:</span> {{paciente.telefono}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Nacionalidad:</span> {{paciente.nacionalidad}}</p>
            </div>
            <div class="col-lg-6 col-12 text-left">
                <p class="font-weight-bold"> Información del Representante</p>
                <p class="text mb-1"><span class="font-weight-bold">Nombre: </span> {{paciente.nombresRepresentante}} {{paciente.apellidosRepresentante}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Telefono:</span> {{paciente.telefonoRepresentante}}</p>
                <p class="text mb-1"><span class="font-weight-bold">Nacionalidad:</span> {{paciente.nacionalidad}}/ {{paciente.mesNacimiento}}/ {{paciente.anioNacimiento}}</p>
            </div>
        </div>
    </div>
</div>