<div class="background">
    <div class="container-fluid">
        <div class="row">
            <!--row-->
            <div class="sideBarSesionIn col-lg-2 col-12 bd-sidebar mt-3">
                <!--col sidebar-->
                <app-sidebar-user></app-sidebar-user>
            </div>
            <!--col sidebar-->
            <main class="col-lg-7 col-12 mt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <!--<shared-formulario-checkear-paciente [paciente]="pacientes$ | async"></shared-formulario-checkear-paciente>-->
                                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="px-4 pt-3">
                                    <div class="row my-4">
                                        <!--row-->
                                        <div class="col-lg-3 col-12 my-2">
                                            <!--col nombre-->
                                            <label for="nombres">Nombres(*)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input id="nombres" name='nombres' class="form-control" type="text" formControlName="nombres" placeholder="Nombres">
                                                <div id='mensaje'>
                                                    <small id="nombreoHelp" class="form-text text-muted" *ngIf="(nombres.dirty || nombres.touched) && nombres.invalid && nombres.errors.required"> Requerido  </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--col nombre-->
                                        <div class="col-lg-3 col-12 my-2">
                                            <!--col apellido-->
                                            <label for="apellidos">Apellidos(*)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input id="apellidos" name='apellidos' class="form-control" type="text" formControlName="apellidos" placeholder="Apellidos">
                                                <div id='mensaje'>
                                                    <small id="ApellidoHelp" class="form-text text-muted" *ngIf="(apellidos.dirty || apellidos.touched) && apellidos.invalid && apellidos.errors.required"> Requerido  </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--col apellido-->
                                        <div class="col-lg-3 col-12 my-2">
                                            <!--col rut-->
                                            <label for="rut">Rut(*)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input id="rut" name='rut' class="form-control" type="text" formControlName="rut" placeholder="Rut">
                                                <div id='mensaje'>
                                                    <small id="rutHelp" class="form-text text-muted" *ngIf="(rut.dirty || rut.touched) && rut.invalid && rut.errors.required"> Requerido  </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--col rut-->
                                    </div>
                                    <div class="row my-4">
                                        <!--row-->
                                    </div>
                                    <!--row-->
                                    <!--boton agregar-->
                                    <!--<div *ngSwitchCase="'/user/check-paciente/:id'">-->
                                    <button class="btn btn-primary my-3" (click)="modPaciente()" type="submit" [disabled]="!checkoutForm.valid">Siguiente</button>
                                    <!--</div>-->
                                    <label for=""> (*) Campo Obligatorio</label>

                                    <!--boton agregar-->
                                    <div id='mensaje' [style.visibility]="isDivVisible ? 'visible' : 'hidden'" class="alert alert-success" role="alert">{{mensaje}}</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="col-lg-3 col-12 my-5">
                <img alt="logo" src="assets/images/Imagen1.png" class="img-fluid">
            </div>
        </div>
        <!--row-->
    </div>
</div>