 <div class="background">
    <div class="container-fluid">
        <div class="row ">


            <div class="col-lg-8 col-12 ">
                <h3 class=" font-weight-bold"> Encuentranos Aqui<3 </h3>
        
                 <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.445891078075!2d-71.61482714922134!3d-33.044725984096175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0da749b545f%3A0x8598d9e005eea641!2sEscuela%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica%20PUCV!5e0!3m2!1ses-419!2scl!4v1606674477735!5m2!1ses-419!2scl" width="1250" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </p>
            </div>  


            <div class="col-lg-4 col-12 my- text-center">
                <!-- Links -->
               <!--  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;"> -->

               <img alt="logo" src="assets/images/Imagen1.png" class="img-fluid" style="width: 5000%;">
                <h3> <i class="fas fa-home"></i> Av. Sin Nombre #666, Valparaiso </h3>
                <br>
                <h3> <i class="fas fa-envelope mr-3"></i>info@example.com </h3>
                <br>
                <h3> <i class="fas fa-phone mr-3"></i> + 01 234 567 88 </h3>
                <br>
                <h3> <i class="fas fa-print mr-3"></i> + 01 234 567 98 </h3>

           
                    

    

            </div>

                
        </div>
        </div>

</div> 