.fas {
  margin-top: 17px;
}
.letra {
  font-size: 20px;
  margin-bottom: 5px;
}
.lupa {
  margin-top: 7px;
}
.navbar {
  max-height: 50px;
}
.titulo {
  font-size: 26px;
}
.inicio {
  margin-bottom: 15px;
}
.btn {
  max-height: 40px;
}
